<footer class="bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-6 py-5">
                <!-- Contato -->
                <div class="">
                    <h3 class="display-4 mb-3">Contato</h3>
                </div>
                <div class="">
                    <p>zedu@urbancookie.com.br</p>
                </div>
                <!-- Contato -->

            </div>
            <div class="col-md-6 py-5">

                <div class="">
                    <h3 class="display-4 mb-3">Redes sociais</h3>
                </div>
                <div class="row mb-5 px-3">
                    <a href="https://www.instagram.com/urbcookie/" target="_blank">
                        <div class="socialicons p-3 mr-2">
                            <img src="../../assets/icons/instagram-line.svg" alt="">
                        </div>
                    </a>

                    <a href="https://www.facebook.com/urb.cookie" target="_blank">
                        <div class="socialicons p-3 mr-2">
                            <img src="../../assets/icons/facebook-box-line.svg" alt="">
                        </div>
                    </a>

                    <a href="https://twitter.com/urbcookie" target="_blank">
                        <div class="socialicons p-3 mr-2">
                            <img src="../../assets/icons/twitter-line.svg" alt="">
                        </div>
                    </a>

                </div>
                <div class="">
                    <a routerLink='/sobre'>
                        <div class="my-3 d-flex justify-content-start align-items-center">
                            <p class="m-0 text-uppercase">sobre nós</p>
                            <img class="ml-2" src="../../assets/icons/arrow-up-right.svg" alt="">
                        </div>
                    </a>
                </div>
                <div class="">
                    <a routerLink='/loja'>
                        <div class="my-3 d-flex justify-content-start align-items-center">
                            <p class="m-0 text-uppercase">loja</p>
                            <img class="ml-2" src="../../assets/icons/arrow-up-right.svg" alt="">
                        </div>
                    </a>
                </div>
                <div class="">
                    <a routerLink='/galeria'>
                        <div class="my-3 d-flex justify-content-start align-items-center">
                            <p class="m-0 text-uppercase">galeria</p>
                            <img class="ml-2" src="../../assets/icons/arrow-up-right.svg" alt="">
                        </div>
                    </a>
                </div>

            </div>

            <div class="w-100 my-5 pb-5 px-3">
                <h3 class="display-4 mb-3">Apoio</h3>
                <div class="d-flex justify-content-center apoiomedia">
                    <div class="px-0 mx-0 d-flex align-items-center justify-content-center">
                        <img class="p-0 m-0 img-fluid" src="../../assets/logos/prefeitura.png" alt="">
                    </div>

                    <div class="px-0 mx-0 d-flex align-items-center justify-content-center">
                        <img class="p-0 m-0 img-fluid" src="../../assets/logos/governo.png" alt="">
                    </div>
                </div>
            </div>

        </div>
    </div>
</footer>
<div class="reservedline container-fluid">
    <div class="row px-3">
        <p class="col-md-6 col-sm-12 p-0 m-0 text-white"><small> Copyright Urban Cookie © 2020</small></p>
        <p class="col-md-6 col-sm-12 p-0 m-0 text-white rightcopytext"><small> Todos os direitos reservados.</small></p>
    </div>
</div>