<app-navbar></app-navbar>

<section class="heroloja d-flex justify-content-center align-items-center">
    <div class="container row p-0">
            <div class="col-md-6 d-flex flex-column justify-content-center">
                <h2 class="display-4 text-uppercase text-light">Lojinha</h2>
                <h2 class="display-4 text-uppercase text-light">Urban Cookie</h2>
            </div>

            <div class="col-md-6 divimg">
                <img src="../../assets/produtos/shophero.jpg" alt="" class="innerimg">
            </div>

    </div>
</section>

<section>
    <div class="container my-5">
        <div class="mb-5 pb-5">
            <h2 class="mb-3">Quadros</h2>
            <div class="card-deck">
                <div class="card">
                    <img class="img-fluid" src="../../assets/produtos/produto1.jpeg" alt="">
                </div>
                <div class="card">
                    <img class="img-fluid" src="../../assets/produtos/produto2.jpeg" alt="">
                </div>
            </div>
        </div>

        <div class="mb-5 pb-5">
            <h2 class="mb-3">Prints</h2>
            <div class="card-deck">
                <div class="card">
                    <img class="img-fluid" src="../../assets/produtos/produto4.jpeg" alt="">
                </div>
            </div>
        </div>

        <div class="mb-5 pb-5">
            <h2 class="mb-3">Stickers</h2>
            <div class="card-deck">
                <div class="card">
                    <img class="img-fluid" src="../../assets/produtos/produto3.jpeg" alt="">
                </div>
            </div>
        </div>


    </div>
</section>


<div class="parallax2"></div>

<app-footer></app-footer>