<app-navbar></app-navbar>

<section class="mb-5 d-flex justify-content-center align-items-center bg-light">
    <div class="my-5 container row">
        <div class="card-columns w-100">
            <div class="my-5">
                <h2 class="mt-5 display-4 text-uppercase">Lojinha</h2>
                <h2 class="display-4 text-uppercase">Urban Cookie</h2>
            </div>

            <div>
                <div class="divimg">
                    <img src="../../assets/produtos/shophero.jpeg" alt="" class="my-3 innerimg">
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container my-5">
        <div class="mb-5 pb-5">
            <h2 class="mb-3">Prints</h2>
            <div class="card-deck">
                <div class="card">
                    <img class="img-fluid" src="../../assets/produtos/produto1.jpeg" alt="">
                </div>
                <div class="card">
                    <img class="img-fluid" src="../../assets/produtos/produto1.jpeg" alt="">
                </div>
                <div class="card">
                    <img class="img-fluid" src="../../assets/produtos/produto1.jpeg" alt="">
                </div>
                <div class="card">
                    <img class="img-fluid" src="../../assets/produtos/produto1.jpeg" alt="">
                </div>
            </div>
        </div>

        <div class="mb-5 pb-5">
            <h2 class="mb-3">Prints</h2>
            <div class="card-deck">
                <div class="card">
                    <img class="img-fluid" src="../../assets/produtos/produto1.jpeg" alt="">
                </div>
                <div class="card">
                    <img class="img-fluid" src="../../assets/produtos/produto1.jpeg" alt="">
                </div>
                <div class="card">
                    <img class="img-fluid" src="../../assets/produtos/produto1.jpeg" alt="">
                </div>
                <div class="card">
                    <img class="img-fluid" src="../../assets/produtos/produto1.jpeg" alt="">
                </div>
            </div>
        </div>

        <div class="mb-5 pb-5">
            <h2 class="mb-3">Prints</h2>
            <div class="card-deck">
                <div class="card">
                    <img class="img-fluid" src="../../assets/produtos/produto1.jpeg" alt="">
                </div>
                <div class="card">
                    <img class="img-fluid" src="../../assets/produtos/produto1.jpeg" alt="">
                </div>
                <div class="card">
                    <img class="img-fluid" src="../../assets/produtos/produto1.jpeg" alt="">
                </div>
                <div class="card">
                    <img class="img-fluid" src="../../assets/produtos/produto1.jpeg" alt="">
                </div>
            </div>
        </div>


    </div>
</section>


<div class="parallax"></div>

<app-footer></app-footer>