<app-navbar></app-navbar>

<section class="my-5 d-flex justify-content-center align-items-center">
    <div class="my-5 container row">
        <div class="card-columns w-100">
            <div class="my-5">
                <h2 class="mt-5 display-4 text-uppercase">loja</h2>
                <a href="#">
                    <div class="mb-5 d-flex justify-content-start align-items-center">
                        <h6 class="m-0">MAIS PRODUTOS NA LOJA</h6>
                        <img class="ml-2" src="../../assets/icons/arrow-up-right.svg" alt="">
                    </div>
                </a>
            </div>

            <div>
                <div class="divimg">
                    <img src="../../assets/images/Placeholder.png" alt="" class="my-3 innerimg">
                </div>
            </div>

            <div class="divimg">
                <img src="../../assets/images/Placeholder.png" alt="" class="my-3 innerimg">
            </div>

            <div class="divimg">
                <img src="../../assets/images/Placeholder.png" alt="" class="my-3 innerimg">
            </div>
        </div>
    </div>
</section>

<div class="parallax"></div>

<app-footer></app-footer>