<app-navbar></app-navbar>

<section class="my-5 d-flex flex-column justify-content-center align-items-center">
    <div class="my-5 container">
        <div class="col-sm-8">
            <h2 class="mb-3 display-4 text-uppercase">Sobre</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quae, tempore iusto ut distinctio cupiditate
                ullam similique ea rerum quis voluptates modi, alias rem nam nesciunt illum reiciendis sed? Temporibus,
                iste.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus distinctio quos enim tempore illum
                adipisci doloribus similique repudiandae, accusantium nam eligendi necessitatibus sequi maxime
                cupiditate error, consectetur labore tenetur eaque.</p>
            <a href="#">
                <div class="d-flex justify-content-start align-items-center">
                    <h6 class="m-0">CONHEÇA </h6>
                    <img class="ml-2" src="../../assets/icons/arrow-up-right.svg" alt="">
                </div>
            </a>
        </div>
    </div>
</section>

<div class="parallax"></div>

<app-footer></app-footer>