.parallax {
    height: 400px;
    background: linear-gradient(180deg, #A583B5 0%, #EC95B9 100%);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
