<app-navbar></app-navbar>

<section class="my-5 py-5">
    <div class="container my-5 py-5">
        <h2 class="display-4">Acreditamos no valor das histórias comuns...</h2>
    </div>
</section>

<div class="parallax"></div>


<section class="my-5 d-flex flex-column justify-content-center align-items-center">
    <div class="my-5 container">
        <div class="col-sm-8">
            <h2 class="mb-3 display-4 text-uppercase">Sobre</h2>
            <p>
                O projeto nasceu porque acreditamos no valor das histórias comuns, dos acontecimentos corriqueiros, das pessoas simples. Acreditamos no valor da nossa própria história e daqueles que dividem os espaços conosco. 
            </p>
            <p>
                Acreditamos que essas histórias merecem ser lidas, ouvidas, lembradas.
            </p>
            <p>
                O Urban Cookie é um projeto que acontece na plataforma Instagram e se ocupa em compartilhar pequenas crônicas acompanhadas de ilustrações sobre diferentes personagens e contextos Urbanos.
            </p>

        </div>
    </div>
</section>

<section class="my-5 py-5">
    <div class="container">
        <h2 class="mb-3 display-4 text-uppercase">Quem somos</h2>
        <div class="row">
            <div class="col-md-6 my-4">
                <img src="../../assets/images/zedu.png" class="innerimg mb-3" alt="">
                <p class="text"><strong>LUIZ EDUARDO MIRANDA</strong></p>
                <p class="text p-0 m-0"><small>DIRETOR DE ARTE, ILUSTRADOR GRADUANDO EM DESIGN PELA FUCAPI NATURAL DE TEFÉ.</small></p>
            </div>
            <div class="col-md-6 my-4">
                <img src="../../assets/images/danna.png" class="innerimg mb-3" alt="">
                <p class="text"><strong>DANNA DANTAS</strong></p>
                <p class="text p-0 m-0"><small>ESCRITORA, ESTUDANTE DE LETRAS E GRADUADA EM ADMINISTRAÇÃO PELA UFAM
                    NATURAL DE SÃO GABRIEL DA CACHOEIRA.</small></p>
            </div>

        </div>
    </div>
</section>

<div class="parallax3"></div>

<app-footer></app-footer>