<app-navbar></app-navbar>

<section class="my-5 py-5">
    <div class="container">

        <div class="row px-3">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb bg-light">
                  <li class="breadcrumb-item"><a routerLink='/home'>Home</a></li>
                  <li class="breadcrumb-item"><a routerLink='/galeria'>Galeria</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Descansar onde o vazio mora</li>
                </ol>
              </nav>
        </div>

        <div class="row">
            <h1 class="col-md-12 display-1">Descansar onde o vazio mora</h1>
        </div>
        <div class="row px-0">
            <div class="col-md-6 my-5">
                <a href="#">
                    <img src="./..../assets/icons/share-2.svg" alt="">
                </a>
                <div class="my-5 mr-5">
                    <p>
                        Preciso de uma cama nova.
                    </p>
                    <p>
                        Faz horas que estou procurando uma posição confortável e mesmo deitado o meu corpo cansa. Não
                        lembrava que esse travesseiro era tão alto, ele simplesmente não encaixa na nuca e isso me cansa
                        mais que tudo. E ainda tem esse cobertor que deve estar encolhendo ao longo dos dias e deve ser
                        por isso que acordo com os pés sempre gelados.
                    </p>
                    <p>
                        Impossível dormir aqui. São 02h da manhã e ainda ouço os passos duros do vizinho no apartamento
                        de cima. Será que ele tem a mesma insônia que eu?
                        Esse quarto é muito vazio. Antes, eu tinha medo do escuro e ficava apavorado com a sensação de
                        solidão e cegueira que a escuridão causa, mas já faz alguns anos que quartos sombrios não me
                        incomodam mais.
                    </p>
                    <p>
                        Apesar de que… acho que não tem problema acender o abajur hoje… Às vezes esqueço que não ter
                        medo do escuro não me obriga a gostar dele e… Acho que agora vou conseguir dormir.
                    </p>

                </div>
            </div>
            <!-- Imagem -->
            <div class="col-md-6 px-0">
                <div class="card border-0">
                    <img class="card-img-top cardhover rounded-lg" src="./..../assets/images/Urb20_B.png"
                        alt="Card image cap">
                </div>
            </div>
        </div>
        <div class="creditos my-3">
            <h5>Créditos</h5>
            <p class="d-block mb-0">Texto: Danna Dantas</p>
            <p class="d-block mb-0">Ilustração: Zedu Miranda</p>
        </div>

    </div>
</section>
<div class="parallax4"></div>
<app-footer></app-footer>
