<section class="my-5 d-flex justify-content-center align-items-center">
    <div class="my-5 container w-100">
        <div class="w-100 d-flex flex-column align-items-start justify-content-start">
            <div class="w-100 my-5">
                <h2 class="mt-5 display-4 text-uppercase">Instagram</h2>
            </div>
            <div class="w-100 row">
                <div class="col-4 col-md-3" *ngFor="let item of listPosts">
                    <div class="card my-3 border-0 cardhover">
                        <img src="{{item.gs$cell.inputValue}}" class="card-img-top" alt="...">
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>