<app-navbar></app-navbar>

<section class="my-5 py-5">
    <div class="container">
        <div class="row px-3">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb bg-light">
                  <li class="breadcrumb-item"><a routerLink='/home'>Home</a></li>
                  <li class="breadcrumb-item"><a routerLink='/galeria'>Galeria</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Onde se escondem os medos durante a noite</li>
                </ol>
              </nav>
        </div>
        <div class="row">
            <h1 class="col-md-12 display-1">Onde se escondem os medos durante a noite</h1>
        </div>
        <div class="row px-0">
            <div class="col-md-6 my-5">
                <a href="#">
                    <img src="../../assets/icons/share-2.svg" alt="">
                </a>
                <div class="my-5 mr-5">
                    <p>
                        Eu sempre penso sobre duas coisas:
                    </p>
                    <p>
                        1. O que acontece na cidade enquanto todo mundo dorme; e
                    </p>
                    <p>
                        2. O que acontece dentro das geladeiras quando a luz apaga.
                    </p>
                    <p>
                        Uma vez todo mundo viajou de férias e a casa ficou vazia por vários dias. Quando voltaram, todo mundo reclamou que geladeiras desligadas ficam com um cheiro esquisito que demora a sair. Talvez venha daí o medo que eu tenho de que as pessoas não voltem.
                        Toda noite o meu interior vira um breu e eu encaro uma escuridão infinita dentro de mim mesma. Me abismo. Um abismo frio com cheiro de qualquer coisa passível de decomposição.
                    </p>
                    <p>
                        Até que… Click!
                    </p>
                    <p>
                        As pessoas com insônia sentem sede, as pessoas voltando das festas também, em algum lugar alguém decidiu fazer um lanche, ou decidiu abrir a porta pra pensar. E aí eu lembro que as coisas seguem funcionando e acho que é isso que acontece na cidade enquanto todo mundo dorme: sempre tem uma luz acendendo.
                    </p>

                </div>
            </div>
            <!-- Imagem -->
            <div class="col-md-6 px-0">
                <div class="card border-0">
                    <img class="card-img-top cardhover rounded-lg" src="../../assets/images/Urb49.png" alt="Card image cap">
                </div>
            </div>
        </div>
        <div class="creditos my-3" >
            <h5>Créditos</h5>
            <p class="d-block mb-0">Texto: Danna Dantas</p>
            <p class="d-block mb-0">Ilustração: Zedu Miranda</p>
        </div>

    </div>
</section>
<div class="parallax4"></div>
<app-footer></app-footer>