<app-navbar></app-navbar>
<section class="mb-5 d-flex justify-content-center align-items-center">
    <div class="my-5 container row w-100">
        <div class="hero col-sm-6 d-flex flex-column align-items-start justify-content-center">
            <h1 class="display-1">URBAN COOKIE</h1>
            <a href="#" class="mb-5">
                <div class="d-flex justify-content-center align-items-center">
                    <h6 class="m-0 text-uppercase">Acesse a loja </h6>
                    <img class="ml-2" src="../../assets/icons/arrow-up-right.svg" alt="">

                </div>
            </a>
        </div>
        <div class="col-md-6 divheroimg">
            <img class="innerheroimg" src="../../assets/images/URB32.png" alt="">
        </div>
    </div>
</section>

<section class="my-5 d-flex flex-column justify-content-center align-items-center">
    <div class="my-5 container">
        <div class="col-sm-8">
            <h2 class="mb-3 display-4 text-uppercase">Sobre</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quae, tempore iusto ut distinctio cupiditate
                ullam similique ea rerum quis voluptates modi, alias rem nam nesciunt illum reiciendis sed? Temporibus,
                iste.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus distinctio quos enim tempore illum
                adipisci doloribus similique repudiandae, accusantium nam eligendi necessitatibus sequi maxime
                cupiditate error, consectetur labore tenetur eaque.</p>
            <a href="#">
                <div class="d-flex justify-content-start align-items-center">
                    <h6 class="m-0">CONHEÇA </h6>
                    <img class="ml-2" src="../../assets/icons/arrow-up-right.svg" alt="">
                </div>
            </a>
        </div>
    </div>
</section>

<div class="parallax"></div>

<section class="my-5 d-flex justify-content-center align-items-center">
    <div class="my-5 container">
        <div class="card-columns">

            <div class="card border-0">
                <h2 class="mt-5 display-4 text-uppercase">Publicações Recentes</h2>
                <a href="#">
                    <div class="mb-5 d-flex justify-content-start align-items-center">
                        <h6 class="m-0">CONHEÇA </h6>
                        <img class="ml-2" src="../../assets/icons/arrow-up-right.svg" alt="">
                    </div>
                </a>
            </div>

            <div class="card border-0">
                <img class="card-img-top cardhover rounded-lg" src="../../assets/images/Urb50.png" alt="Card image cap">
            </div>

            <div class="card border-0">
                <img class="card-img-top cardhover rounded-lg" src="../../assets/images/Urb49.png" alt="Card image cap">
            </div>

            <div class="card border-0">
                <img class="card-img-top cardhover rounded-lg" src="../../assets/images/Urb42.png" alt="Card image cap">
            </div>

        </div>
    </div>
</section>



<section class="my-5 d-flex justify-content-center align-items-center">
    <div class="my-5 container row w-100">
        <div class="w-100 d-flex flex-column align-items-start justify-content-start">
            <div class="col w-100 my-5">
                <h2 class="mt-5 display-4 text-uppercase">Instagram</h2>
            </div>
            <div class="row">

                <div class="col-md-3 w-100 mb-4 divimg divbox d-flex align-items-center justify-content-center">
                    <img src="../../assets/images/Placeholder.png" alt="" class="innerimg">
                </div>

                <div class="col-md-3 w-100 mb-4 divimg divbox d-flex align-items-center justify-content-center">
                    <img src="../../assets/images/Placeholder.png" alt="" class="innerimg">
                </div>

                <div class="col-md-3 w-100 mb-4 divimg divbox d-flex align-items-center justify-content-center">
                    <img src="../../assets/images/Placeholder.png" alt="" class="innerimg">
                </div>

                <div class="col-md-3 w-100 mb-4 divimg divbox d-flex align-items-center justify-content-center">
                    <img src="../../assets/images/Placeholder.png" alt="" class="innerimg">
                </div>

                <div class="col-md-3 w-100 mb-4 divimg divbox d-flex align-items-center justify-content-center">
                    <img src="../../assets/images/Placeholder.png" alt="" class="innerimg">
                </div>

                <div class="col-md-3 w-100 mb-4 divimg divbox d-flex align-items-center justify-content-center">
                    <img src="../../assets/images/Placeholder.png" alt="" class="innerimg">
                </div>

                <div class="col-md-3 w-100 mb-4 divimg divbox d-flex align-items-center justify-content-center">
                    <img src="../../assets/images/Placeholder.png" alt="" class="innerimg">
                </div>

                <div class="col-md-3 w-100 mb-4 divimg divbox d-flex align-items-center justify-content-center">
                    <img src="../../assets/images/Placeholder.png" alt="" class="innerimg">
                </div>
            </div>

        </div>
    </div>
</section>

<div class="parallax"></div>

<section class="my-5 d-flex justify-content-center align-items-center">
    <div class="my-5 container row">
        <div class="card-columns w-100">
            <div class="my-5">
                <h2 class="mt-5 display-4 text-uppercase">loja</h2>
                <a href="#">
                    <div class="mb-5 d-flex justify-content-start align-items-center">
                        <h6 class="m-0">MAIS PRODUTOS NA LOJA</h6>
                        <img class="ml-2" src="../../assets/icons/arrow-up-right.svg" alt="">
                    </div>
                </a>
            </div>

            <div>
                <div class="divimg">
                    <img src="../../assets/images/Placeholder.png" alt="" class="my-3 innerimg">
                </div>
            </div>

            <div class="divimg">
                <img src="../../assets/images/Placeholder.png" alt="" class="my-3 innerimg">
            </div>

            <div class="divimg">
                <img src="../../assets/images/Placeholder.png" alt="" class="my-3 innerimg">
            </div>
        </div>
    </div>
</section>

<app-footer> </app-footer>