<app-navbar></app-navbar>
<section class="mb-5 d-flex justify-content-center align-items-center">
    <div class="my-5 container row w-100">
        <div class="hero col-sm-6 d-flex flex-column align-items-start justify-content-center">
            <h1 class="display-1">URBAN COOKIE</h1>
            <a routerLink="/loja" class="mb-5">
                <div class="d-flex justify-content-center align-items-center">
                    <h6 class="m-0 text-uppercase">lojinha </h6>
                    <img class="ml-2" src="../../assets/icons/arrow-up-right.svg" alt="">

                </div>
            </a>
        </div>
        <div class="col-md-6 divheroimg">
            <img class="innerheroimg" src="../../assets/images/URB32.png" alt="">
        </div>
    </div>
</section>

<section class="my-5 d-flex flex-column justify-content-center align-items-center">
    <div class="my-5 container">
        <div class="col-sm-8">
            <h2 class="mb-3 display-4 text-uppercase">Sobre</h2>
            <p>
                O Urban Cookie é um projeto que acontece na plataforma Instagram e se ocupa em compartilhar pequenas
                crônicas acompanhadas de ilustrações sobre diferentes personagens e contextos Urbanos.
            </p>

            <a routerLink='/sobre'>
                <div class="d-flex justify-content-start align-items-center">
                    <h6 class="m-0">CONHEÇA </h6>
                    <img class="ml-2" src="../../assets/icons/arrow-up-right.svg" alt="">
                </div>
            </a>
        </div>
    </div>
</section>

<div class="parallax3"></div>

<section class="my-5 d-flex justify-content-center align-items-center">
    <div class="my-5 container">
        <div class="card-columns">
            <div class="card border-0">
                <h2 class="mt-5 display-4 text-uppercase">Publicações Recentes</h2>
                <a routerLink='/galeria'>
                    <div class="mb-5 d-flex justify-content-start align-items-center">
                        <h6 class="m-0 text-uppercase">mais Publicações </h6>
                        <img class="ml-2" src="../../assets/icons/arrow-up-right.svg" alt="">
                    </div>
                </a>
            </div>

            <div class="card border-0">
                <a routerLink='/publicacao'>
                    <img class="card-img-top cardhover rounded-lg" src="../../assets/images/Urb50.png"
                        alt="Card image cap">
                </a>
            </div>

            <div class="card border-0">
                <a routerLink='/publicacao2'>
                    <img class="card-img-top cardhover rounded-lg" src="../../assets/images/Urb49.png"
                        alt="Card image cap">
                </a>
            </div>

            <div class="card border-0">
                <a routerLink='/publicacao3'>
                    <img class="card-img-top cardhover rounded-lg" src="../../assets/images/Urb20_B.png"
                        alt="Card image cap">
                </a>
            </div>

        </div>
    </div>
</section>



<section class="my-5 d-flex justify-content-center align-items-center">
    <div class="my-5 container w-100">
        <div class="w-100 d-flex flex-column align-items-start justify-content-start">
            <div class="w-100 my-5">
                <h2 class="mt-5 display-4 text-uppercase">Instagram</h2>
            </div>
            <div class="p-0 m-0 row row-cols-1 row-cols-4 w-100">
                <div class="col mb-4 pr-2 pl-0 mx-0">
                    <div class="card border-0 cardhover">
                        <img src="../../assets/images/URB32.png" class="card-img-top" alt="...">

                    </div>
                </div>
                <div class="col mb-4 pr-2 pl-0 mx-0">
                    <div class="card border-0 cardhover">
                        <img src="../../assets/images/URB32.png" class="card-img-top" alt="...">

                    </div>
                </div>
                <div class="col mb-4 pr-2 pl-0 mx-0">
                    <div class="card border-0 cardhover">
                        <img src="../../assets/images/URB32.png" class="card-img-top" alt="...">
                    </div>
                </div>
                <div class="col mb-4 pr-2 pl-0 mx-0">
                    <div class="card border-0 cardhover">
                        <img src="../../assets/images/URB32.png" class="card-img-top" alt="...">

                    </div>
                </div>

                <div class="col mb-4 pr-2 pl-0 mx-0">
                    <div class="card border-0 cardhover">
                        <img src="../../assets/images/URB32.png" class="card-img-top" alt="...">

                    </div>
                </div>
                <div class="col mb-4 pr-2 pl-0 mx-0">
                    <div class="card border-0 cardhover">
                        <img src="../../assets/images/URB32.png" class="card-img-top" alt="...">

                    </div>
                </div>
                <div class="col mb-4 pr-2 pl-0 mx-0">
                    <div class="card border-0 cardhover">
                        <img src="../../assets/images/URB32.png" class="card-img-top" alt="...">
                    </div>
                </div>
                <div class="col mb-4 pr-2 pl-0 mx-0">
                    <div class="card border-0 cardhover">
                        <img src="../../assets/images/URB32.png" class="card-img-top" alt="...">

                    </div>
                </div>

            </div>

        </div>
    </div>
</section>

<div class="parallax4"></div>

<section class="my-5 d-flex justify-content-center align-items-center">
    <div class="my-5 container row">
        <div class="card-columns w-100">
            <div class="my-5">
                <h2 class="mt-5 display-4 text-uppercase">loja</h2>
                <a routerLink='/loja'>
                    <div class="mb-5 d-flex justify-content-start align-items-center">
                        <h6 class="m-0">MAIS PRODUTOS NA LOJA</h6>
                        <img class="ml-2" src="../../assets/icons/arrow-up-right.svg" alt="">
                    </div>
                </a>
            </div>

            <div>
                <a routerLink='/loja'>
                    <div class="divimg">
                        <img src="../../assets/produtos/produto1.jpeg" alt="" class="my-3 innerimg">
                    </div>
                </a>
            </div>

            <a routerLink='/loja'>
                <div class="divimg">
                    <img src="../../assets/produtos/produto2.jpeg" alt="" class="my-3 innerimg">
                </div>
            </a>

            <a routerLink='/loja'>
                <div class="divimg">
                    <img src="../../assets/produtos/produto3.jpeg" alt="" class="my-3 innerimg">
                </div>
            </a>
        </div>
    </div>
</section>

<app-footer> </app-footer>