<nav>
    <ul>
        <div>
            <li>
                <a routerLink='/dashboard' type="button" class="btn" data-toggle="tooltip" data-placement="right" title="Gerenciar publicações da Galeria">
                    <img src="../../../assets/icons/admin-icons/grid.svg" alt="">
                </a>
            </li>
    
            <li>
                <a routerLink='/homecontent' data-toggle="tooltip" data-placement="right" title="Gerenciar conteúdo do site">
                    <img src="../../../assets/icons/admin-icons/layout.svg" alt="">
                </a>
            </li>
    
            <li>
                <a routerLink="/users" data-toggle="tooltip" data-placement="right" title="Gerenciar usuários">
                    <img src="../../../assets/icons/admin-icons/users.svg" alt="">
                </a>
            </li>
        </div>

        <li>
            <a (click)="sair()" data-toggle="tooltip" data-placement="right" title="Sair" style="cursor: pointer;">
                <img src="../../../assets/icons/admin-icons/log-out.svg" alt="">
            </a>
        </li>
    </ul>
</nav>