<div class="d-flex">
    <app-sidebar></app-sidebar>

    <div class="w-100 d-flex justify-content-center">
        <div class="urbcontainer">

            <div class="mb-5 d-flex justify-content-between">
                <h2 class="display-5">Usuários</h2>
            </div>

            <div class="contentoverflow">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">id</th>
                            <th scope="col">Nome</th>
                            <th scope="col">E-mail</th>
                            <th scope="col" class="text-right">Ações</th>
                        </tr>
                    </thead>
<!--                     <tbody *ngFor='let post of posts'>
                        <tr>
                            <th>{{post.id}}</th>
                            <th>{{post.date}}</th>
                            <td>{{post.title}}</td>
                            <td>
                                <div class="d-flex justify-content-end">
                                    <button class="btn btn-outline-success mr-2 mt-1"
                                        [routerLink]="['/editar-post', post.id]">Editar</button>
                                </div>
                            </td>

                        </tr>
                    </tbody> -->
                </table>
            </div>

        </div>
    </div>


</div>