<section class="my-5 py-5">
    <div class="container">
        <div class="row px-3">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb bg-light">
                  <li class="breadcrumb-item"><a routerLink='/dashboard'>Voltar</a></li>
                </ol>
              </nav>
        </div>

        <div class="row">
            <h1 class="col-md-12 display-1">{{post.title}}</h1>
        </div>
        <div class="row px-0">
            <div class="col-md-6 my-5">
                <a href="#">
                    <img src="../../assets/icons/share-2.svg" alt="">
                </a>
                <div class="my-5 mr-5">
                    <p>{{post.article}}</p>
                </div>
            </div>
            <!-- Imagem -->
            <div class="col-md-6 px-0">
                <div class="card border-0">
                    <img class="card-img-top cardhover rounded-lg" src="{{post.image}}" alt="Card image cap">
                </div>
            </div>
        </div>
        <div class="creditos my-3" >
            <h5>Créditos</h5>
            <p class="d-block mb-0">Texto: Danna Dantas</p>
            <p class="d-block mb-0">Ilustração: Zedu Miranda</p>
        </div>

    </div>
</section>