<app-navbar></app-navbar>

<section class="my-5 d-flex justify-content-center align-items-center">
    <div class="my-5 container">
        <div class="card-columns">

            <div class="card border-0">
                <h2 class="mt-5 display-4 text-uppercase">Galeria</h2>
            </div>

            <a routerLink='/publicacao'>
                <div class="card border-0">
                    <img class="card-img-top cardhover rounded-lg" src="../../assets/images/Urb50.png" alt="Card image cap">
                </div>
            </a>

            <div class="card border-0">
                <img class="card-img-top cardhover rounded-lg" src="../../assets/images/Urb49.png" alt="Card image cap">
            </div>

            <div class="card border-0">
                <img class="card-img-top cardhover rounded-lg" src="../../assets/images/Urb42.png" alt="Card image cap">
            </div>

        </div>
    </div>
</section>

<app-footer></app-footer>